In [1]:
import pandas as pd

# Use relative path from notebook to data file
file_path = "../data/raw/Agriculture_price_dataset.csv"

df = pd.read_csv(file_path)

df.head()

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Price Date
0,Maharashtra,nashik,Lasalgaon(Niphad),Wheat,Maharashtra 2189,FAQ,2172.0,2399.0,2300.0,6/6/2023
1,Maharashtra,satara,Patan,Tomato,Other,FAQ,1000.0,1500.0,1250.0,6/6/2023
2,Uttar Pradesh,mainpuri,Bewar,Potato,Local,FAQ,800.0,820.0,810.0,6/6/2023
3,Rajasthan,chittorgarh,Nimbahera,Wheat,Other,FAQ,2040.0,2668.0,2300.0,6/6/2023
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,6/6/2023

In [2]:
df.shape

(737392, 10)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737392 entries, 0 to 737391
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   STATE          737392 non-null  object
 1   District Name  737392 non-null  object
 2   Market Name    737392 non-null  object
 3   Commodity      737392 non-null  object
 4   Variety        737392 non-null  object
 5   Grade          737392 non-null  object
 6   Min_Price      737392 non-null  float64
 7   Max_Price      737392 non-null  float64
 8   Modal_Price    737392 non-null  float64
 9   Price Date     737392 non-null  object
dtypes: float64(3), object(7)
memory usage: 56.3+ MB

In [4]:
df.columns

Index(['STATE', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min_Price', 'Max_Price', 'Modal_Price', 'Price Date'],
      dtype='object')

In [7]:
import pandas as pd

# If df already loaded, skip reload. Otherwise:
# file_path = "../data/raw/current-daily-price-variation-mandi.csv"
# df = pd.read_csv(file_path)

# 1) Clean column names (remove that _x0020_ junk)
df = df.rename(columns={
    "Arrival_Date": "Date",
    "Min_x0020_Price": "Min_Price",
    "Max_x0020_Price": "Max_Price",
    "Modal_x0020_Price": "Modal_Price"
})

df.columns

Index(['STATE', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min_Price', 'Max_Price', 'Modal_Price', 'Price Date'],
      dtype='object')

In [11]:
df = df.rename(columns={
    "STATE": "State",
    "District Name": "District",
    "Market Name": "Market",
    "Commodity": "Commodity",
    "Variety": "Variety",
    "Grade": "Grade",
    "Min_Price": "Min_Price",
    "Max_Price": "Max_Price",
    "Modal_Price": "Modal_Price",
    "Price Date": "Date"
})

df.columns

Index(['State', 'District', 'Market', 'Commodity', 'Variety', 'Grade',
       'Min_Price', 'Max_Price', 'Modal_Price', 'Date'],
      dtype='object')

In [10]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737392 entries, 0 to 737391
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   State        737392 non-null  object
 1   District     737392 non-null  object
 2   Market       737392 non-null  object
 3   Commodity    737392 non-null  object
 4   Variety      737392 non-null  object
 5   Grade        737392 non-null  object
 6   Min_Price    737392 non-null  float64
 7   Max_Price    737392 non-null  float64
 8   Modal_Price  737392 non-null  float64
 9   Date         737392 non-null  object
dtypes: float64(3), object(7)
memory usage: 56.3+ MB

,State,District,Market,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Date
0,Maharashtra,nashik,Lasalgaon(Niphad),Wheat,Maharashtra 2189,FAQ,2172.0,2399.0,2300.0,6/6/2023
1,Maharashtra,satara,Patan,Tomato,Other,FAQ,1000.0,1500.0,1250.0,6/6/2023
2,Uttar Pradesh,mainpuri,Bewar,Potato,Local,FAQ,800.0,820.0,810.0,6/6/2023
3,Rajasthan,chittorgarh,Nimbahera,Wheat,Other,FAQ,2040.0,2668.0,2300.0,6/6/2023
4,Rajasthan,pratapgarh,Pratapgarh,Onion,Other,FAQ,476.0,1043.0,617.0,6/6/2023

In [12]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

In [13]:
df = df.dropna(subset=['Date'])
df = df.sort_values('Date')

print(df['Date'].min(), df['Date'].max())

2023-01-07 00:00:00 2025-12-05 00:00:00

In [14]:
print(df['Commodity'].value_counts().head(20))
print(df['State'].value_counts().head(20))

Commodity
Potato    131416
Onion     121080
Wheat      31669
Tomato      9996
Rice        3020
Name: count, dtype: int64
State
Uttar Pradesh       75449
Tamilnadu           26527
Haryana             25589
Madhya Pradesh      22915
West Bengal         21902
Maharashtra         21179
Kerala              18037
Punjab              16785
Rajasthan           14478
Gujarat             10887
Himachal Pradesh     9221
Orissa               8413
Karnataka            5697
Bihar                5248
Andhra Pradesh       3820
Jammu & Kashmir      2159
Assam                1641
Delhi                1453
Nagaland             1215
 Punjab              1082
Name: count, dtype: int64

In [15]:
df['Date'].min(), df['Date'].max()
df['Commodity'].value_counts().head(10)
df['State'].value_counts().head(10)

State
Uttar Pradesh     75449
Tamilnadu         26527
Haryana           25589
Madhya Pradesh    22915
West Bengal       21902
Maharashtra       21179
Kerala            18037
Punjab            16785
Rajasthan         14478
Gujarat           10887
Name: count, dtype: int64

In [16]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')
df = df.dropna(subset=['Date'])
df = df.sort_values('Date')

df['Date'].min(), df['Date'].max()

(Timestamp('2023-01-07 00:00:00'), Timestamp('2025-12-05 00:00:00'))

In [17]:
print("Top commodities:")
print(df['Commodity'].value_counts().head(10))

print("\nTop states:")
print(df['State'].value_counts().head(10))

print("\nExample markets:")
print(df['Market'].value_counts().head(10))

Top commodities:
Commodity
Potato    131416
Onion     121080
Wheat      31669
Tomato      9996
Rice        3020
Name: count, dtype: int64

Top states:
State
Uttar Pradesh     75449
Tamilnadu         26527
Haryana           25589
Madhya Pradesh    22915
West Bengal       21902
Maharashtra       21179
Kerala            18037
Punjab            16785
Rajasthan         14478
Gujarat           10887
Name: count, dtype: int64

Example markets:
Market
Pratapgarh                                   1796
Durgapur                                     1132
Ahmedabad(Chimanbhai Patal Market Vasana)    1028
Asansol                                       806
Bangalore                                     804
Kayamkulam                                    793
Sultanpur                                     787
Alipurduar                                    777
Muzzafarnagar                                 774
Akbarpur                                      770
Name: count, dtype: int64

In [18]:
# Fix extra spaces
df['State'] = df['State'].str.strip()
df['Commodity'] = df['Commodity'].str.strip()
df['Market'] = df['Market'].str.strip()
df['Variety'] = df['Variety'].str.strip()

# Filter for Onion + Maharashtra
filtered = df[(df['Commodity'] == "Onion") & (df['State'] == "Maharashtra")]

print("Filtered shape:", filtered.shape)
filtered.head()

Filtered shape: (10877, 10)

,State,District,Market,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Date
43013,Maharashtra,nashik,Lasalgaon(Vinchur),Onion,Other,FAQ,500.0,1600.0,1351.0,2023-01-07
42992,Maharashtra,satara,Satara,Onion,Other,FAQ,300.0,1300.0,800.0,2023-01-07
42973,Maharashtra,jalgaon,Bhusaval,Onion,Other,FAQ,700.0,1000.0,800.0,2023-01-07
42954,Maharashtra,ahmednagar,Rahuri(Vambori),Onion,Other,FAQ,100.0,1800.0,1000.0,2023-01-07
42948,Maharashtra,dhule,Dhule,Onion,Red,FAQ,350.0,1470.0,800.0,2023-01-07

In [19]:
filtered.to_csv("../data/processed/onion_maharashtra_filtered.csv", index=False)
print("Saved filtered dataset.")

Saved filtered dataset.